.main {
  display: flex;
  flex-direction: column;
}

.accord {
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  &-waffle-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/waffle-texture.jpg");
    opacity: 0.1;
    z-index: -1;
  }

  &-body {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  &-blue {
    background-color: $blue;
  }
  &-pink {
    background-color: $pink;
  }
  &-vanilla {
    background-color: $vanilla;
  }
  &-caramel {
    background-color: $caramel;
  }
  &-chocolate {
    background-color: $chocolate;
  }
  &-lime {
    background-color: $lime;
  }

  &-title {
    background-color: $opaque;
    border-radius: $b-radius;
    padding: 0.5rem;
    // font-family: $font-head;
    font-size: 1.3rem;
    z-index: 2;
    color: yellow;
    text-shadow: 1px 1px 1px palevioletred;
    transition: 0.3s padding ease;

    &:hover {
      color: yellow;
      padding: 0.7rem;
    }
  }

  &-row-1 {
    background-color: $opaque;
    padding: 1rem;
    border-radius: $b-radius;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-bio {
    border-radius: $b-radius;
    background-color: rgba(255, 240, 255, 0.3);
    margin: 1rem auto;
    max-width: 95%;
    padding: 1rem;
  }

  &__distance {
    font-size: 0.8rem;
    color: #555;
    text-shadow: none;
    background-color: $opaque;
    padding: 0.5rem;
    border-radius: $b-radius;
  }
}

@media (max-width: $breakpoint-tablet) {
  .accord {
    &-row-1 {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-head {
      flex-direction: column;
    }
    &-title {
    }
    &__distance {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}
