.main {
  display: flex;
  flex-direction: column;
}

.accord {
  &-head {
    display: block;
    position: relative;
    z-index: 1;
  }
  &-waffle-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/waffle-texture.jpg");
    opacity: 0.1;
    z-index: -1;
  }

  &-body {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  &-blue {
    background-color: var(--accord-blue);
  }
  &-pink {
    background-color: var(--accord-pink);
  }
  &-vanilla {
    background-color: var(--accord-vanilla);
  }
  &-caramel {
    background-color: var(--accord-caramel);
  }
  &-chocolate {
    background-color: var(--accord-chocolate);
  }
  &-lime {
    background-color: var(--accord-lime);
  }

  &-title {
    background-color: rgba(255, 218, 185, 0.5);
    border-radius: $b-radius;
    padding: 0.5rem;
    // font-family: $font-head;
    font-size: 1rem;
    z-index: 2;
    color: yellow;
    text-shadow: 2px 2px 1px palevioletred;
    transition: 0.3s font-size ease;

    &:hover {
      color: yellow;
      font-size: 1.1rem;
    }
  }

  &-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-bio {
    background-color: rgba(255, 240, 255, 0.3);
    margin: auto;
    max-width: 75%;
    padding: 2rem;
  }
}
