.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.accord {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 2;
  }

  &-waffle-texture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
    z-index: 1;
  }

  &-blue {
    background-color: var(--accord-blue);
  }
  &-pink {
    background-color: var(--accord-pink);
  }
  &-vanilla {
    background-color: var(--accord-vanilla);
  }
  &-caramel {
    background-color: var(--accord-caramel);
  }
  &-chocolate {
    background-color: var(--accord-chocolate);
  }

  &-title {
    background-color: rgba(255, 255, 200, 0.3);
    border-radius: 1rem;
    padding: 0.5rem;
  }

  &-tub {
    padding: 0.5rem;
    border: 1px solid lightcoral;
    border-radius: 10px;
  }

  &-body-row-1 {
    display: flex;
    justify-content: space-between;
  }

  &-bio {
    background-color: rgba(255, 240, 255, 0.3);
    margin: auto;
    max-width: 75%;
    padding: 2rem;
  }
}
