.icon {
  &__star-container {
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-self: center;
    margin: auto;
  }
  &__star {
    max-width: 56px;
    max-height: 56px;
  }
  &__star-empty {
    max-width: 50px;
    max-height: 50px;
  }

  &__pound-container {
    display: flex;
    flex-wrap: nowrap;
  }

  &__pound {
    max-width: 56px;
    max-height: 56px;
  }
}

@media (max-width: $breakpoint-handheld) {
  .icon {
    &__star {
      max-width: 36px;
      max-height: 36px;
    }
    &__pound-container {
      flex-direction: row;
    }
  }
} ;
