$pink: #fcbdd3;
$pink-tab: hsl(339, 91%, 80%);

$blue-tab: hsl(138, 60%, 79%);
$blue: #bfefcd;

$vanilla-tab: hsl(51, 83%, 75%);
$vanilla: #f7ecad;

$caramel-tab: hsl(35, 84%, 75%);
$caramel: #f9deb9;

$chocolate-tab: #9d6140;
$chocolate: hsl(21, 42%, 56%);

$lime: hsl(85, 100%, 85%);
$lime-tab: #d8ffa2;

$opaque: rgba(255, 240, 255, 0.3);

$breakpoint-small: 275px;
$breakpoint-handheld: 450px;
$breakpoint-tablet: 525px;
$breakpoint-large: 800px;

$m-top: 10rem;
$b-radius: 1rem;

* {
  box-sizing: border-box;
}
