:root {
  --accord-pink: #fcbdd3;
  --accord-blue: #bfefcd;
  --accord-vanilla: #f7ecad;
  --accord-caramel: #f3c078;
  --accord-chocolate: #9d6140;
  --accord-lime: #d8ffa2;
}

$opaque: rgba(255, 218, 185, 0.5);

$breakpoint-small: 365px;
$breakpoint-handheld: 500px;
$breakpoint-tablet: 850px;

$m-top: 10rem;
$b-radius: 1rem;

* {
  box-sizing: border-box;
}
