@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

:root {
  font-family: "Quicksand", sans-serif;
}

$font-head: "Damion", cursive;

.logo {
  font-family: $font-head;
  color: yellow;
  margin: auto;
  text-shadow: 1px 1px 0px palevioletred;
  background-color: peachpuff;
  border-radius: $b-radius;
  padding: 1rem;
  font-size: 2rem;
}

@media (min-width: $breakpoint-small) and (max-width: $breakpoint-tablet) {
  .logo {
    text-shadow: 3px 3px 1px palevioletred;
    padding: 1rem;
    font-size: 3rem;
  }
}
@media (min-width: $breakpoint-tablet) {
  .logo {
    text-shadow: 5px 5px 1px palevioletred;
    padding: 0.5rem 2rem;
    padding: 2rem;
    font-size: 85px;
  }
}
// font-size: 160px;
