$border-width: 7px;

.van-img {
  width: 126px;
  height: 126px;
  border-radius: 100%;
  transition: transform 0.5s ease-in;
  &:hover {
    transform: scale(1.05);
  }
  &-blue {
    @extend .van-img;
    border: $border-width solid var(--accord-blue);
  }
  &-pink {
    @extend .van-img;
    border: $border-width solid var(--accord-pink);
  }
  &-vanilla {
    @extend .van-img;
    border: 0.6rem solid var(--accord-vanilla);
  }
  &-caramel {
    @extend .van-img;
    border: $border-width solid var(--accord-caramel);
  }
  &-chocolate {
    @extend .van-img;
    border: $border-width solid var(--accord-chocolate);
  }
}
